body {
  background: linear-gradient(180deg, #ABEBC6, #EAFAF1);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Helvetica;
  color: #0B5345;
  font-size: 2em;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  color: #0B5345;
  font-weight: 100;
  font-size: 22px;
  text-align: center;
  width: 100%;
}

h3 {
   font-family: Helvetica;
   color: #0B5345;
   font-weight: 100;
   font-size: 16px;
   text-align: center;
   padding: 3px;
}

p {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 100;
  color: #0E6251;
  line-height: 1.3em;
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #AF7AC5;
    text-decoration: none;
}

a:hover {
    color: #F5B041;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  font-family: Helvetica;
  color: #0B5345;
  font-weight: 100;
  flex: 50%;
  padding: 10px;
  height: auto;
  text-align: center;
}

iframe {
    border: 0;
}


/* Kehtib ainult esimesele pildile */
.header img{
  width: 100%;
  height: 100%;
}

.tekstid, .photos {
  text-align: center;

}

img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    height: 270px;
}

photos:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* white? w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height: 800px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    font-family: Helvetica;
    color: #0B5345;
    font-weight: 100;
    font-size: 20px;
    text-align: right;
}
.menu1{
    text-align: right;
    float: left;
}
.menu2 {
    text-align: left;
    float: right;
    padding-inline-start: 0px;
}

ul {
    list-style-type: none;
    border-radius: 5px;
    margin: 2;
    padding: 2;
    width: 200px;
    background-color: #f1f1f1;
    background-opacity: 0.7;    
}



li a {
    display: block;
    color: #000;
    padding: 6px 6px;
    border-radius: 5px;
}
li p {
    display: block;
    padding: 6px 6px;
    margin: 0px;
   
}

/* Menu on hover */
li a:hover {
    background-color: #527762;
    color: white;
    background-opacity: 0.7; 
}

.klaaskuul, .videod {
    text-align: center;
}